@import url('https://fonts.cdnfonts.com/css/geo-sans-light');

/*APPARENCE GENERALE*/

body{
    max-width: 87rem;
    font-family: 'GeosansLight', sans-serif;
    margin: auto;
}

h1{
    margin-block: 0;
    color: #002d56;
    font-size:3.5rem;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    margin-block: 0;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 1% 0;
}

h3{
    margin-block: 0;
    color:white;
    font-size: 1rem;
    font-weight: bolder;
}

i{
   font-size: 1rem;
}

a{
    text-decoration: none;
}

p{
    margin-block: 0;
    font-size: 1.5rem;
    font-weight: 600;
}

/*HEADER*/
header{
    max-width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_entete{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo_astropierre{
    width: 70%;
    margin: 2%;
}

nav{
    display: flex;
    width: 75%;
    justify-content: space-around;
    border-top: #002d56 0.1rem solid;
    border-bottom: #002d56 0.1rem solid;
    padding: 1rem 0;
    margin-top: 2rem;

}

.btn_nav i{
    margin-right: 1rem;
    color: white;
}

.btn_nav{
    width: 25%;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #002d56 0%, #0355a2 51%, #002d56 100%);
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}

.btn_nav:hover {
    background-position: right center;
    cursor: pointer;
}

/*MAIN*/
main{
    max-width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bienvenue{
    width: 75%;
    display: flex;
    margin-top: 3rem;
    align-items: center;
    justify-content: space-around;
}

.bienvenue_photo{
    width: 15rem;
    height: 15rem;
    border-radius: 15rem;
    margin: 0 3rem;
    box-shadow: 2px 2px 8px 2px  #002d56;
}

.bienvenue_text{
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.bienvenue_text p{
    margin-top: 2rem;
}

.présentation {
    width: 75%;
    display: flex;
    margin-top: 2rem;
    text-align: justify;
}

.interligne{
    width: 15%;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: #002d56 0.1rem solid;
}

.confiance{
    margin-top: 3rem;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confiance h1{
    font-size: 2rem;
    font-weight: 800;
}

.confiance_logo{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo_box{
    width: 7rem;
    object-fit: contain;
    margin: 1rem;
}

/*FOOTER*/

.footer_general{
    max-width: 75%;
    margin: 3rem auto 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: #002d56 0.1rem solid;
    border-bottom: #002d56 0.1rem solid;
}

.RS{
margin: 1rem;
color: #002d56;
font-size: 1.2rem;
}

.reseaux_sociaux{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-bottom: 1rem;
 
}

footer i{
    font-size: 2.5rem;
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    justify-content: space-around;
    transition: 0.5s;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #002d56 0%, #0355a2 51%, #002d56 100%);
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}

footer i:hover{
    background-position: right center;
    cursor: pointer;
}

.signature{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:medium;
}

